# API domain can be either host:port or full URL
MAINTENANCE_API_DOMAIN=localhost:8080
API_SIGNATURE=replace-with-api-signature

# AM token request payload
AM_USER_ID=0
AM_ACCOUNT=replace-with-am-account
AM_CODE=replace-with-am-code
AM_ROUTE_KEY=V1_INTERNAL_GAME_MAINTENANCE

# Maintenance target defaults. You can still override the domain/game code by CLI args.
MAINTENANCE_GAME_CODE=replace-with-game-code

# Maintenance PATCH request payload
IS_MAINTENANCE=true
